
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

.container{
    max-width: 500px;
    padding: 30px;
    margin: 0px auto;
    background: rgb(0,212,191);
    background: linear-gradient(90deg, rgba(0,212,191,1) 37%, rgba(10,187,222,1) 100%);
    border-radius: 20px;
}

.search-area{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 15px;
}

.search-input {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 15px;
    flex-grow: 16;
    width: 100%;
    flex-shrink: 1;
    flex-basis: 179px;
}
.search-btn {
    padding: 10px 15px;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 15px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 40px;
}

.city_name{
    margin-top: 20px;
    text-align: center;
    font-size: 34px;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.weather-image-area{
    margin: 20px auto;
    width: 150px;
    height: 150px;
    overflow: hidden;

}
.weather-img{
    width: 100%;
    height: 100%;
    object-fit: cover center;
}

.temp-display{
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.sunrize_sunset{
    color: #fff;
    font-weight: 700;
 
}
.other_details{
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}


@media (max-width: 510px) {
    .sunrize, .sunset{
        flex-direction: column;
    }

    
}